<div class="container app">
    <h2>Angular CRUD Branch avanzado X4</h2>
    <div class="row">
      <div class="col-7">
        <div class="form-group">
          <label for="my-input">Nombre :</label>
          <input id="nombre" class="form-control" type="text" name="nombre" [(ngModel)]="model.nombre">
        </div>

        <div class="form-group">
          <label for="my-input">Posicion :</label>
          <input id="posicion" class="form-control" type="text" name="posicion" [(ngModel)]="model.posicion">
        </div>
        
        <div class="form-group">
          <label for="my-input">edad :</label>
          <input id="edad" class="form-control" type="number" name="edad" [(ngModel)]="model.edad">
        </div>
        <br>
        <button class="btn btn-success btn-block" type="button" (click)="flag?guardarPersona():actualizarPersona()">Guardar</button>

      </div>
    </div>
</div>
<div class="container app">
  <h3>Listado </h3>
  <table class="table table-light">
    <thead class="thead-light">
      <tr>
        <th>Nombre</th>
        <th>Posicion</th>
        <th>Edad</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>              
       <ng-container *ngFor="let p of personas let i=index;">
         <tr *ngIf="p.edad>20">
           <td>{{p.nombre}}</td>
           <td>{{p.posicion}}</td>
           <td>{{p.edad}}</td>
           <td>
            <button class="btn btn-success" (click)=editarPersona(i)><i class="fa fa-edit"></i></button>
            &nbsp;
            <button class="btn btn-danger" (click)=eliminarPersona(i)><i class="fa fa-trash" aria-hidden="true"></i></button>
          </td>
         </tr>
       </ng-container>            
    </tbody>
  </table>
</div>